pandas
streamlit
feedparser
nltk
requests
python-dateutil
gspread
gspread-dataframe
oauth2client
toml 
plotly  # <-- Add this line
beautifulsoup4 # If you kept the HTML stripping for news summaries